# Frontend/client variables
REACT_APP_HOST=35.243.208.244
REACT_APP_HOST_PORT=5000
REACT_APP_HOST_PROTOCOL=http

# Backend variables
ALLOWED_ORIGINS=http://localhost:3000,https://example.com
ALLOWED_REFERRERS=http://localhost:3000/,https://example.com/
NEWS_API_URL=https://newsapi.org/v2/top-headlines
NEWS_API_KEY=your_news_api_key_here
GUEST_ID=66ca07dfa419f966a08ad5b2
